.cont-menu {
    justify-content: space-around !important;
}

.menu nav, .menu .midias {
    display: none !important;
}

.bars-icon {
    display: block !important;
}

.open {
    right: 0px !important; 
}

.call h1 {
    display: none;
}

.myArea .rodrigo {
    margin-top: 20px !important;
    width: 80% !important;
    background-size: 100% 100% !important;
}

.myArea .whyMine {
    font-size: 17px !important;
}

.cont-types .type {
    /* background-color: red; */
    padding: 10px;
    width: 100% !important;
    height: auto !important;
    flex-direction: column-reverse !important;
}

.cont-types .type .cont-h4 {
    width: 100% !important;
}

.cont-types .type .maca {
    margin-bottom: 20px;
}

.deeps .cont-deep .deep h3 {
    font-size: 20px;
}

/* !MAX-WIDTH 500 */

@media screen and (max-width: 500px) {
    .call .cont-h1 {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-cards .h-card {
        flex-basis: 100px !important;
    }

    .header-cards .h-card h3 {
        font-size: 16px !important;
    }

    .header-cards .h-icon {
        width: 50px !important;
        height: 50px !important;
    }
}

/* !MAX-WIDTH 430 */

@media screen and (max-width: 430px) {
    .call .cont-h1 h2 {
        font-size: 40px !important;
    }
}

@media screen and (max-width: 410px) {
    .treinos h3 {
        font-size: 40px !important;
    }

    .deeps .cont-deep .deep h3 {
        font-size: 16px;
    }
}

/* !MAX-WIDTH 310 */

@media screen and (max-width: 330px) {
    .treinos h3 {
        font-size: 35px !important;
    }
}

@media screen and (max-width: 350px) {
    .header-cards .cont-cards {
        display: none !important;
    }

    .myArea .whyMine {
        font-size: 16px !important;
    }

    .myArea .whyMine h3::after {
        width: 70px;
        height: 20px;
    }

    .myArea .whyMine h3::before {
        margin-left: 190px;
        width: 70px;
        height: 20px;
    }
}

/* !305 */
@media screen and (max-width: 305px) {
    .myArea .whyMine h3 {
        font-size: 40px !important;
    }

    .myArea .whyMine h3::after {
        display: none;
    }

    .myArea .whyMine h3::before {
        display: none;
    }

    .call .cont-h1 h2.foto {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 287px) {
    .treinos h3 {
        width: 100%;
        font-size: 30px !important;
        justify-self: center !important;
        text-align: center;
    }
}