:root {
  --font--:'MuseoModerno', cursive;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
}

html, body {
    height: 1000px;
}

/* !HEADER COMPONENT */
#header {
    width: 100%;
    height: 100vh;
    background-image: url('img/gym2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;

    
}

#header .menu {
    width: 100%;
    height: 50px;
    background: rgba(70, 66, 57, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: fixed;
    
}

#header .menu nav {
    display: flex;
}

#header .menu .cont-menu {
    display: flex;
    margin: 0px auto;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

#header .foto {
    width: 500px;
    font-size: 50px;
    text-align: center;
    font-size: 60px;
    color: white;
    text-shadow: 3px 3px rgb(12, 12, 12), -3px -3px rgb(12, 12, 12);
    font-family: 'Staatliches', cursive;
}

#header .cont-h1 {
  padding: 20px 0px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

.icon {
  font-size: 30px;
  margin: 10px;
  color: white;
  transition-duration: 0.2s;
}

.icon:hover {
  transform: scale(1.1);
  color: #22d1c5;
}

/* SDSD */
.svg-wrapper {
    margin-left: 10px;
    /* background-color: blue; */
  }
  .shape {
    stroke-dasharray: 140 450;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    fill: transparent;
    stroke: #19f6e8;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
  .text {
    font-family: 'Roboto Condensed';
    font-size: 16px;
    line-height: 0px;
    letter-spacing: 2px;
    color: #fff;
    position: relative;
    top: -16px;
    left: 6px;
  }

  .text a {
      text-decoration: none;
        color: white;
      width: 100px;

      font-size: 16px;
      letter-spacing: -1px;
      font-family: var(--font--);

      transition-duration: 0.2s;
  }

  .text a:hover {
    color: #99fff8;
  }

  .svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
  }

  div.call {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  div.call .button {
    width: 40%;
    background-color: #16aca2;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    text-align: center;
    padding: 5px;

    transition-duration: 0.2s;

    font-size: 16px;
      letter-spacing: -1px;
      font-family: var(--font--);
      cursor: pointer;
  }

  div.call .button:hover {
    background-color: #178a82;
  }

  /* !CARDS */

  .header-cards {
    background-color: white;
    width: 80%;
    height: 200px;
    margin: 0px auto;
    border-radius: 20px;
    position: relative;
    top: -100px;

    -webkit-box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.75);
box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.75);
  }